<div class="container">
 	<div class="col-md-4 col-md-offset-4 col-xs-10  col-sm-6 col-sm-offset-3" id="content_mentor">
   	<div class="text-center">
   		 <a class="name" href="home.html">Mentor Mentor</a>
   	</div>
    <h3>Inscrivez-vous pour trouvez un mentor</h3>
    	<div class="row">
      	<%= form_for @student, :class =>" form-signin" do |f|%>
      	</div>
      	<%= f.email_field :email, class:"form-control", :placeholder => "Votre email"%>
      	
      	<%= f.select :cours,  ['Quel cours souhaitez-vous prendre ?','Electronique', 'Electricité', 'Raspberry Pi','Arduino','Menuiserie'],	{},{ :class => "form-control"} %>
      	<%= f.text_field :city , :placeholder => "Dans quel ville résidez-vous ?", class:"form-control"%>

		<%= f.submit :value => "Validez",  :class => "btn btn-lg btn-primary btn-block"%> 
      <% end %>
  </div>
 </div> <!-- /container -->
